In [2]:
import pandas as pd
import numpy as np


queries = pd.read_csv('DATA/train-queries.csv', sep=';')
item_views = pd.read_csv('DATA/train-item-views.csv', sep=';')
clicks = pd.read_csv('DATA/train-clicks.csv', sep=';')
purchases = pd.read_csv('DATA/train-purchases.csv', sep=';')
products = pd.read_csv('DATA/products.csv', sep=';')
products_category = pd.read_csv('DATA/product-categories.csv', sep=';')

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Statistics OF DATASET :

query_full_queries_count  = len(queries[~queries["searchstring.tokens"].isnull()])
query_less_queries_count  = len(queries[queries["searchstring.tokens"].isnull()])
sessions_count = len(queries["sessionId"].unique())

#presented products 130,987  : not sure.

clicks_log_count = len(clicks)
views_log_count = len(item_views)
purchase_log_count  = len(purchases)

In [4]:
#User Statistics of Dataset

real_users_count = len(queries[~queries["userId"].isnull()]["userId"].unique())
anonymous_users_count = len(queries[queries["userId"].isnull()])
train_real_users_count = len(queries[queries["is.test"] == False][~queries["userId"].isnull()]["userId"].unique())
test_real_users_count = len(queries[queries["is.test"] == True][~queries["userId"].isnull()]["userId"].unique())

#intersection between test and trAIN USERS 

unique_train_users = queries[queries["is.test"] == False][~queries["userId"].isnull()]["userId"].unique()
uniquer_test_users = queries[queries["is.test"] == True][~queries["userId"].isnull()]["userId"].unique()
train_inter_test_usercount = len(np.intersect1d(unique_train_users,uniquer_test_users))

In [5]:
#print statistics


print("query_full_queries_count : ",query_full_queries_count)
print("query_less_queries_count : ",query_less_queries_count)
print("sessions_count : ",sessions_count)
print("clicks_log_count : ",clicks_log_count)
print("views_log_count : ",views_log_count)
print("purchase_log_count : ",purchase_log_count)

#print user statistics
print("\n")

print("real_users_count : ",real_users_count)
print("anonymous_users_count : ",anonymous_users_count)
print("train_real_users_count : ",train_real_users_count)
print("test_real_users_count : ",test_real_users_count)
print("train_inter_test_usercount : ",train_inter_test_usercount)

query_full_queries_count :  51888
query_less_queries_count :  871239
sessions_count :  573935
clicks_log_count :  1127764
views_log_count :  1235380
purchase_log_count :  18025


real_users_count :  232816
anonymous_users_count :  574887
train_real_users_count :  140387
test_real_users_count :  116630
train_inter_test_usercount :  24201

In [6]:
#PRE-PROCESSING FOR FEATURE EXTRACTION

queries = queries[~queries["searchstring.tokens"].isnull()]

# Extract a mapping of each query and which items appeared
query_item = []
for query, items in queries[["queryId", "items"]].values:
    items = map(np.int64,items.split(','))
    for i in items:
        query_item.append( (query, i) )
query_item = pd.DataFrame().from_records(query_item, columns=["queryId","itemId"])

item_views.sort_values(["sessionId", "userId", "eventdate", "timeframe", "itemId"], inplace=True)
clicks.sort_values(["queryId", "timeframe", "itemId"], inplace=True)
purchases.sort_values(["sessionId", "userId", "eventdate", "timeframe", "itemId", "ordernumber"], inplace=True)
products.sort_values(["itemId"], inplace=True)
products_category.sort_values(["itemId"], inplace=True)


query_item = pd.merge(query_item, queries[["queryId", "sessionId"]], how="left")
query_item = pd.merge(query_item,  clicks, how="left")
query_item.rename(columns={"timeframe":"clickTime"}, inplace=True)
query_item = pd.merge(query_item,  item_views, how="left")

query_item.rename(columns={"eventdate":"eventdateView", "timeframe":"viewTime", "userId": "userView"}, inplace=True)
query_item = pd.merge(query_item, purchases, how="left")
query_item.rename(columns={"eventdate":"eventdatePurchase", "timeframe":"purchaseTime", "userId": "userPurchase"}, inplace=True)


query_item["clicked"] = ~query_item["clickTime"].isnull()
query_item["viewed"] = ~query_item["viewTime"].isnull()
query_item["purchased"] = ~query_item["purchaseTime"].isnull()


user_item = []
for user, items in queries[["userId", "items"]].values:
    items = map(np.int64,items.split(','))
    for i in items:
        user_item.append( (user, i) )
user_item = pd.DataFrame().from_records(user_item, columns=["userShow","itemId"])
user_item = user_item[~user_item["userShow"].isnull()]

In [7]:
from functools import reduce

#Extracting global statistical features for each product

item_clicks = clicks.groupby("itemId").count().rename(columns = {"queryId" :"Item_clicks"})
product_views = item_views.groupby("itemId").count().rename(columns = {"sessionId" : "Item_view_count"})
item_purchases = purchases.groupby("itemId").count().rename(columns = {"sessionId" : "Item_purchase_count"})
item_show = query_item.groupby("itemId").count().rename(columns = {"queryId" : "item_show_count"})

userShow = user_item[["itemId","userShow"]].groupby("itemId")["userShow"].unique().apply(lambda x:len(x)).to_frame()
userView = pd.DataFrame(query_item[["itemId","userView"]].groupby("itemId")["userView"].unique().apply(lambda x:len(x)))
userPurchase = pd.DataFrame(query_item[["itemId","userPurchase"]].groupby("itemId")["userPurchase"].unique().apply(lambda x:len(x)))

dfs = [products[["itemId"]],item_show[["item_show_count"]],item_clicks[["Item_clicks"]],product_views[["Item_view_count"]],item_purchases[["Item_purchase_count"]],userShow,userView,userPurchase]
product_stats = reduce(lambda left,right: pd.merge(left,right,on='itemId',how="left"), dfs).sort_values(["itemId"]).reset_index().drop("index",axis = 1)

In [16]:
product_stats["CTR"] = product_stats["Item_clicks"]/product_stats["item_show_count"]
product_stats["View Rate"] = product_stats["Item_view_count"]/product_stats["item_show_count"]
product_stats["Click Value Rate"] = product_stats["Item_purchase_count"]/product_stats["item_show_count"]

In [48]:
def countwords(row):
    return row.count(",")+1

product_stats["wordLength"] = products["product.name.tokens"].apply(countwords)

In [51]:
product_stats  #features for each product

,itemId,item_show_count,Item_clicks,Item_view_count,Item_purchase_count,userShow,userView,userPurchase,CTR,View Rate,Click Value Rate,wordLength,wordlength
0,1,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
1,2,3.0,36.0,41.0,2.0,2.0,1.0,1.0,12.000000,13.666667,0.666667,5,5
2,3,NaN,34.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
3,4,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
4,6,1.0,13.0,9.0,NaN,1.0,1.0,1.0,13.000000,9.000000,NaN,4,4
5,7,63.0,75.0,70.0,NaN,4.0,1.0,1.0,1.190476,1.111111,NaN,4,4
6,9,14.0,51.0,53.0,NaN,1.0,1.0,1.0,3.642857,3.785714,NaN,6,6
7,10,6.0,1.0,3.0,NaN,NaN,1.0,1.0,0.166667,0.500000,NaN,8,8
8,11,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
9,12,41.0,190.0,193.0,6.0,3.0,1.0,1.0,4.634146,4.707317,0.146341,4,4
10,13,55.0,94.0,89.0,1.0,10.0,1.0,1.0,1.709091,1.618182,0.018182,5,5
11,14,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7
12,15,17.0,20.0,27.0,1.0,13.0,1.0,1.0,1.176471,1.588235,0.058824,4,4
13,16,6.0,49.0,54.0,NaN,2.0,1.0,1.0,8.166667,9.000000,NaN,4,4
14,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
15,19,18.0,58.0,48.0,NaN,6.0,1.0,1.0,3.222222,2.666667,NaN,4,4
16,20,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
17,21,13.0,13.0,15.0,NaN,NaN,1.0,1.0,1.000000,1.153846,NaN,4,4
18,22,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
19,23,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
20,24,NaN,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
21,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
22,28,2.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,0.500000,NaN,6,6
23,29,NaN,13.0,6.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,6,6
24,31,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
25,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
26,33,NaN,15.0,26.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,3,3
27,34,10.0,9.0,11.0,NaN,7.0,3.0,1.0,0.900000,1.100000,NaN,3,3
28,35,4.0,6.0,5.0,NaN,3.0,1.0,1.0,1.500000,1.250000,NaN,6,6
29,36,1.0,14.0,16.0,NaN,NaN,1.0,1.0,14.000000,16.000000,NaN,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
184017,731899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184018,732098,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184019,732724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9
184020,732785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184021,732930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184022,733022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184023,733042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
184024,733167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184025,733261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184026,733383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,8
184027,733414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184028,733570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184029,733848,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7
184030,734209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184031,734229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184032,734275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184033,734722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184034,734819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184035,735087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7
184036,735226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184037,735473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9
184038,735531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,7
184039,735679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
184040,735730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
184041,736011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3
184042,736137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184043,736206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
184044,736351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,4
184045,736359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5
184046,736383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,5